# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# compileroutput

/src/main/compileroutput/production/Cronge's-Mod-1.19.main/data/minecraft/tags/blocks/mineable/axe.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/net/cronge/crongesmod/CrongesMod.class
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/crongesmod.mixins.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/net/cronge/crongesmod/CrongesModClient.class
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/assets/crongesmod/blockstates/deepslate_ruby_ore.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/assets/crongesmod/models/block/deepslate_ruby_ore.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/assets/crongesmod/models/item/deepslate_ruby_ore.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/data/crongesmod/loot_tables/deepslate_ruby_ore.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/assets/crongesmod/textures/block/deepslate_ruby_ore.png
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/assets/crongesmod/models/item/dummy_sword.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/data/crongesmod/recipes/dummy_sword.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/net/cronge/crongesmod/item/custom/DummySwordItem.class
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/net/cronge/crongesmod/item/custom/DummySwordItemMaterial.class
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/assets/crongesmod/models/item/eight_ball.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/assets/crongesmod/textures/item/eight_ball.png
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/net/cronge/crongesmod/item/custom/EightBallItem.class
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/assets/crongesmod/lang/en_us.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/net/cronge/crongesmod/mixin/ExampleMixin.class
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/fabric.mod.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/data/minecraft/tags/blocks/mineable/hoe.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/assets/crongesmod/icon.png
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/assets/crongesmod/blockstates/jump_block.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/assets/crongesmod/models/block/jump_block.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/assets/crongesmod/models/item/jump_block.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/assets/crongesmod/textures/block/jump_block.png
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/net/cronge/crongesmod/block/custom/JumpBlock.class
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/net/cronge/crongesmod/block/ModBlocks.class
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/net/cronge/crongesmod/item/ModItemGroup.class
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/net/cronge/crongesmod/item/ModItems.class
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/data/minecraft/tags/blocks/needs_diamond_tool.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/data/minecraft/tags/blocks/needs_iron_tool.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/data/minecraft/tags/blocks/needs_stone_tool.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/data/minecraft/tags/blocks/mineable/pickaxe.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/assets/crongesmod/models/item/raw_ruby_gemstone.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/assets/crongesmod/textures/item/raw_ruby_gemstone.png
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/assets/crongesmod/blockstates/ruby_block.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/assets/crongesmod/models/block/ruby_block.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/assets/crongesmod/models/item/ruby_block.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/data/crongesmod/loot_tables/ruby_block.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/data/crongesmod/recipes/ruby_block.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/assets/crongesmod/textures/block/ruby_block.png
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/assets/crongesmod/models/item/ruby_gemstone.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/assets/crongesmod/textures/item/ruby_gemstone.png
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/data/crongesmod/recipes/ruby_gemstone_from_raw_ruby_gemstone_stonecutting.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/data/crongesmod/recipes/ruby_gemstone_from_ruby_block_stonecutting.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/assets/crongesmod/blockstates/ruby_ore.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/assets/crongesmod/models/block/ruby_ore.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/assets/crongesmod/models/item/ruby_ore.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/data/crongesmod/loot_tables/ruby_ore.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/assets/crongesmod/textures/block/ruby_ore.png
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/data/minecraft/tags/blocks/mineable/shovel.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/data/crongesmod/tags/items/stripped_woods.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/assets/crongesmod/models/item/tooltip_stick.json
/src/main/compileroutput/production/Cronge's-Mod-1.19.main/net/cronge/crongesmod/item/custom/TooltipStickItem.class
